{#
/**
 * CakePHP(tm) : Rapid Development Framework (https://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (https://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (https://cakefoundation.org)
 * @link          https://cakephp.org CakePHP(tm) Project
 * @since         2.0.0
 * @license       https://www.opensource.org/licenses/mit-license.php MIT License
 */
#}
<?php
/**
 * @var \{{ namespace }}\View\AppView $this
 * @var \{{ entityClass }} ${{ singularVar }}
{%- if associations.BelongsTo is defined %}
    {%- for assocName, assocData in associations.BelongsTo %}
 * @var \Cake\Collection\CollectionInterface|string[] ${{ assocData.variable }}
    {%- endfor %}
{% endif %}
{%- if associations.BelongsToMany is defined %}
    {%- for assocName, assocData in associations.BelongsToMany %}
 * @var \Cake\Collection\CollectionInterface|string[] ${{ assocData.variable }}
    {%- endfor %}
{% endif %}
 */
?>
<div class="container-fluid mt-4">
    <div class="row">
        <?php
        echo $this->element('actions_card', [
            'modelName' => '{{ singularHumanName }}',
            'controllerName' => '{{ pluralHumanName }}',
            'entity' => ${{ singularVar }}
        ]);
        ?>
        <div class="col-md-9">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0"><?= __('{{ action|humanize }} {{ singularHumanName }}') ?></h3>
                </div>
                <div class="card-body">
                    {{ element('Bake.form') }}
                </div>
            </div>
        </div>
    </div>
</div>